{% include 'admin_header.html' %}
<center>


    <h3>Manage Courier</h3>

    <form action="" method="post">

        {% if data['cour'] %}
        {% else %}

        <div>
                <div>
                    <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required placeholder="username" name="uname" id="" value="{% if data['cour'] %}{{data['cour'][0]['email']}}{% endif %}">
                </div>
                <div>
                    <input type="password" required placeholder="Password" name="password" id=""   >
                </div>
        </div>
        {% endif %}
        <div>
                <div>
                    <input type="text" required placeholder="Courier Namme" name="cname" id=""  value="{% if data['cour'] %}{{data['cour'][0]['cour_name']}}{% endif %}">
                </div>
                <div>
                    <input type="email" required placeholder="Email" name="email" id=""  value="{% if data['cour'] %}{{data['cour'][0]['cour_email']}}{% endif %}" >
                </div>
        </div>
        <div>
                <div>
                    <input type="text" required placeholder="Street" name="street" id=""  value="{% if data['cour'] %}{{data['cour'][0]['cour_street']}}{% endif %}">
                </div>
                <div>
                    <input type="text" required placeholder="City" name="city" id=""  value="{% if data['cour'] %}{{data['cour'][0]['cour_city']}}{% endif %}">
                </div>
        </div>
        <div>
            <div>
                <input type="text" maxlength="6" required placeholder="Pincode" name="pin" id=""  value="{% if data['cour'] %}{{data['cour'][0]['cour_pincode']}}{% endif %}">
            </div>
            <div>
                <input type="text" maxlength="10" required placeholder="phone" name="phone" id=""  value="{% if data['cour'] %}{{data['cour'][0]['cour_phone']}}{% endif %}">
            </div>
                    <!-- <div>
                        <input type="text" required placeholder="State" name="state" id="">
                    </div> -->
        </div>

        <!-- <div>
                <div>
                    <input type="text" maxlength="6" required placeholder="Pincode" name="pin" id=""  value="{% if data['cour'] %}{{data['cour'][0]['staff_pincode']}}{% endif %}">
                </div>
                <div>
                    <input type="text" maxlength="10" required placeholder="phone" name="phone" id=""  value="{% if data['cour'] %}{{data['cour'][0]['staff_phone']}}{% endif %}">
                </div>
         </div>
        
         <div>
                <div>
                    <input type="radio"  value="male" name="gender" id="">Male<input value="female" type="radio"  name="gender" id="">Female
                </div> -->
                <div>
                    
                    <input type="text" required placeholder="State" name="state" id=""  value="{% if data['cour'] %}{{data['cour'][0]['cour_state']}}{% endif %}">
                </div> 
         </div>
         <div>
            <input type="submit" {% if data['cour'] %} name="update" value="Update Details" {% else %} value="submit" name="submit" {% endif %} >
         </div>

    </form>

 

    <br><br>

    <h5>View Available Vendors</h5>
    <table>
        <tr>
            <th>Name</th>
            <th>Vendor Name</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Email</th>
            <th>Pincode</th>
            <th>Phone</th>
          
            <!-- <th>Staff Join</th> -->
            <th>Vendor Status</th>
        </tr>
        {% for row in data['res'] %}
        <tr>
           
            <td>{{ row['cour_name'] }}</td>
            <td>{{ row['cour_street'] }}</td>
            <td>{{ row['cour_city'] }}</td>
            <td>{{ row['cour_state'] }}</td>
            
            <td>{{ row['cour_email'] }}</td>
            <td>{{ row['cour_pincode'] }}</td>
            <td>{{ row['cour_phone'] }}</td>
            
            <!-- <td>{{ row['staff_join'] }}</td> -->
            <td>{{ row['status'] }}</td>
            <td><a href="?action=update&vid={{ row['courier_id'] }}">Update</a></td>
            <td><a onclick="return confirm('Are You Sure!')" href="?action=active&vid={{ row['courier_id'] }}">Active</a></td>
            <td><a onclick="return confirm('Are You Sure!')" href="?action=inactive&vid={{ row['courier_id'] }}">Inactive</a></td>
        </tr>
        {% endfor %}
    </table>
</center>

<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}