{% include 'courier_header.html' %}

<center>
    <h3>Pending Couriers</h3>

    <table>
        <tr>
            <th>Name</th>

            <th>Street</th>
            <th>City</th>
            <th>District</th>
            <th>House name</th>
          
            <th>Pincode</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ row['c_fname'] }}{{ row['c_lname'] }}</td>
            <td>{{row['c_housename']}}</td>
            <td>{{ row['c_street'] }}</td>
            <td>{{ row['c_city'] }}</td>
            <td>{{ row['c_dist'] }}</td>
            <td>{{ row['c_pincode'] }}</td>
            <td>{{ row['c_phone'] }}</td>
            <td>{{ row['c_gender'] }}</td>
            <td>{{ row['product_name'] }}</td>
            <td>{{ row['quantity'] }}</td>
            <td>{{ row['total_price'] }}</td>
            <td><a onclick="return confirm('Are you Sure?')" href="?action=accept&omid={{ row['ordermaster_id'] }}">Accept Delivery</a></td>
        </tr>
        {% endfor %}
    </table>
</center>

{% include 'footer.html' %}