{% include 'customer_header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Brand</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
   <br><br><br><br>   
<section class="ftco-section ftco-about">
   <div class="container">
      <div class="row no-gutters">  
         <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(static/assets/images/about.jpg);">
         </div>
         <div class="col-md-6 wrap-about ftco-animate">
       <div class="heading-section heading-section-white pl-md-5">
          <span class="subheading"></span>
         <h2 class="mb-4">Welcome to User Home</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vero ratione facilis ea doloremque tenetur laborum? Magnam atque ex hic! Facilis provident veritatis reiciendis quod assumenda repellat quas labore velit.</p>
         <p><a href="#" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
       </div>
         </div>
      </div>
   </div>
</section>
<!-- //main-slider -->

{% include 'footer.html' %}