{% include 'public_header.html' %}
<center>


    <h3>Customer Registarion</h3>

    <form action="" method="post">
{% if data['staff'] %}
{% else %}

        <div>
                <div>
                    <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required placeholder="Email" name="email" id="" value="{% if data['staff'] %}{{data['staff'][0]['email']}}{% endif %}">
                </div>
                <div>
                    <input type="password" required placeholder="Password" name="password" id=""   >
                </div>
        </div>
        {% endif %}
        <div>
                <div>
                    <input type="text" required placeholder="Firstname" name="fname" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_fname']}}{% endif %}">
                </div>
                <div>
                    <input type="text" required placeholder="Lastname" name="lname" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_lname']}}{% endif %}" >
                </div>
        </div>
        <div>
                <div>
                    <input type="text" required placeholder="House Name" name="house" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_housename']}}{% endif %}">
                </div>
                <div>
                    <input type="text" required placeholder="Street" name="street" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_street']}}{% endif %}">
                </div>
        </div>
        <div>
                <div>
                    <input type="text" required placeholder="City" name="city" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_city']}}{% endif %}">
                </div>
                <div>
                    <input type="text" required placeholder="State" name="state" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_dist']}}{% endif %}">
                </div>
                    <!-- <div>
                        <input type="text" required placeholder="State" name="state" id="">
                    </div> -->
        </div>

        <div>
                <div>
                    <input type="text" maxlength="6" required placeholder="Pincode" name="pin" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_pincode']}}{% endif %}">
                </div>
                <div>
                    <input type="text" maxlength="10" required placeholder="phone" name="phone" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_phone']}}{% endif %}">
                </div>
         </div>
        
         <div>
                <div>
                    <input type="radio"  value="male" name="gender" id="">Male<input value="female" type="radio"  name="gender" id="">Female
                </div>
                <div>
                    <label for="">Date of Birth: </label>
                    <input type="date" required placeholder="Date of Birth" name="dob" id=""  value="{% if data['staff'] %}{{data['staff'][0]['staff_dob']}}{% endif %}">
                </div>
         </div>
         <div>
            <input type="submit" {% if data['staff'] %} name="update" value="Update Details" {% else %} value="submit" name="submit" {% endif %} >
         </div>

    </form>

 

</center>

<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}