{% include 'public_header.html'%}
<div class="hero-wrap ftco-degree-bg" style="background-image: url('static/assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
   <div class="overlay"></div>
   <div class="container">
     <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
       <div class="col-lg-8 ftco-animate">
          <div class="text w-100 text-center mb-md-5 pb-md-5">
            <h1 class="mb-4">Buckle Up &amp; Drive Your Dream, Buy with Ease</h1>
            <p style="font-size: 18px;">Welcome to Grand Drive Motors, the easiest way to buy and sell cars online. Whether you're looking for a new ride or selling your old one, we connect you with trusted buyers and sellers for a smooth transaction</p>
            <a href="https://www.youtube.com/watch?v=chkKse7boKw" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
               <div class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-play"></span>
               </div>
               <div class="heading-title ml-5">
                  <span>A Dealership That Builds Trust-Promo</span>
               </div>
            </a>
         </div>
       </div>
     </div>
   </div>
 </div>

  <section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-md-12	featured-top">
             <div class="row no-gutters">
                 <div class="col-md-4 d-flex align-items-center">
                    
                 </div>
                 <div class="col-md-8 d-flex align-items-center">
                    <div class="services-wrap rounded-right w-100">
                       <h3 class="heading-section mb-4">The Smart Way to Buy & Sell Cars</h3>
                       <div class="row d-flex mb-4">
                      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="services w-100 text-center">
                          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                          <div class="text w-100">
                            <h3 class="heading mb-2">Choose Your Car</h3>
                         </div>
                        </div>      
                      </div>
                      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="services w-100 text-center">
                          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                          <div class="text w-100">
                            <h3 class="heading mb-2">Select the Best Deal</h3>
                          </div>
                        </div>      
                      </div>
                      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="services w-100 text-center">
                          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                          <div class="text w-100">
                            <h3 class="heading mb-2">Get Your Dream Car Home</h3>
                          </div>
                        </div>      
                      </div>
                    </div>
                    <!-- <p><a href="#" class="btn btn-primary py-3 px-4">Register</a></p> -->
                    </div>
                 </div>
              </div>
         </div>
     </div>
 </section>


 <section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
       <div class="row justify-content-center">
       <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          <span class="subheading">What we offer</span>
         <h2 class="mb-2">Featured Vehicles</h2>
       </div>
     </div>
       <div class="row">
          <div class="col-md-12">
             <div class="carousel-car owl-carousel">
              <div class="item">
                <div class="car-wrap rounded ftco-animate">
                    <div class="img rounded d-flex align-items-end" 
                         style="background-image: url('/static/assets/images/benz ml350.jpg'); height: 200px;">
                    </div>
                    <div class="text">
                        <h2 class="mb-0"><a href="#">Mercedes Benz M Class ML 350 CDI 4 MATIC</a></h2>
                        <div class="d-flex mb-3">
                            <span class="cat">Mercedes</span>
                            <p class="price ml-auto">₹25,40,000</p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="item">
                   <div class="car-wrap rounded ftco-animate">
                      <div class="img rounded d-flex align-items-end" style="background-image: url(static/assets/images/volvo.jpg);">
                      </div>
                      <div class="text">
                         <h2 class="mb-0"><a href="#">Volvo S60 D5 Kinetic</a></h2>
                         <div class="d-flex mb-3">
                            <span class="cat">Volvo</span>
                            <p class="price ml-auto">₹18,00,000</p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="item">
                   <div class="car-wrap rounded ftco-animate">
                      <div class="img rounded d-flex align-items-end" style="background-image: url(static/assets/images/xline.jpg);">
                      </div>
                      <div class="text">
                         <h2 class="mb-0"><a href="#">BMW X1 sDrive 20d xLine</a></h2>
                         <div class="d-flex mb-3">
                            <span class="cat">BMW</span>
                            <p class="price ml-auto">₹44,00,000</p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="item">
                   <div class="car-wrap rounded ftco-animate">
                      <div class="img rounded d-flex align-items-end" style="background-image: url(static/assets/images/minicooper.jpg);">
                      </div>
                      <div class="text">
                         <h2 class="mb-0"><a href="#">Mini Cooper Countryman SD</a></h2>
                         <div class="d-flex mb-3">
                            <span class="cat">Mini</span>
                            <p class="price ml-auto">₹37,50,000</p>
                         </div>

                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

 <section class="ftco-section ftco-about">
      <div class="container">
         <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(static/assets/images/pex.jpg);">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
          <div class="heading-section heading-section-white pl-md-5">
             <span class="subheading">About us</span>
            <h2 class="mb-4">Welcome to Grand Drive Motors</h2>

            <p>Welcome to Grand Drive Motors, your trusted destination for buying and selling quality pre-owned vehicles. With a strong commitment to transparency and customer satisfaction, we provide a seamless car resale experience that caters to both individual sellers and dealerships. Our platform ensures that every vehicle listed meets high standards of reliability, offering detailed history reports, competitive pricing, and secure payment options. Whether you're looking to upgrade your ride or find the perfect pre-owned vehicle, we make the process simple, efficient, and stress-free.</p>
            <p>At Grand Drive Motors, we believe in redefining the car resale market with a modern, technology-driven approach. Our user-friendly system allows buyers to explore a wide range of vehicles, compare options, and make informed decisions with confidence. Sellers benefit from a hassle-free listing process, reaching a broad audience of potential buyers. With a dedication to excellence and innovation, we aim to create a trusted marketplace where quality meets convenience. Join us today and experience a smarter way to buy and sell cars! </p>
          </div>
            </div>
         </div>
      </div>
   </section>

   <section class="ftco-section">
      <div class="container">
         <div class="row justify-content-center mb-5">
       <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Services</span>
         <h2 class="mb-3">Our Latest Services</h2>
       </div>
     </div>
         <div class="row">
            <div class="col-md-3">
               <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
            <div class="text w-100">
             <h3 class="heading mb-2">Buy & Sell Pre-Owned Cars</h3>
             <p>A hassle-free platform for customers to buy and sell quality used cars with transparent pricing and detailed vehicle history.</p>
           </div>
         </div>
            </div>
            <div class="col-md-3">
               <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            <div class="text w-100">
             <h3 class="heading mb-2">Vehicle Inspection & Certification</h3>
             <p>Professional inspection services to ensure every car meets high-quality standards, providing buyers with certified, reliable vehicles.

             </p>
           </div>
         </div>
            </div>
            <div class="col-md-3">
               <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
            <div class="text w-100">
             <h3 class="heading mb-2">Car Valuation & Pricing Assistance</h3>
             <p>Accurate car valuation tools and expert guidance to help sellers set competitive prices based on market trends.</p>
           </div>
         </div>
            </div>
            <div class="col-md-3">
               <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            <div class="text w-100">
             <h3 class="heading mb-2">Return & Refund Policy</h3>
             <p>A customer-friendly return and refund policy ensuring a hassle-free experience, allowing buyers to return vehicles under specific conditions and receive fair compensation.
             </p>
           </div>
         </div>
            </div>
         </div>
      </div>
   </section>

   <section class="ftco-section ftco-intro" style="background-image: url(static/assets/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
       <div class="row justify-content-end">
          <div class="col-md-6 heading-section heading-section-white ftco-animate">
       <h2 class="mb-3">Expert Assistance to Guide You</h2>
     </div>
       </div>
    </div>
 </section>


 <section class="ftco-section testimony-section bg-light">
   <div class="container">
     <div class="row justify-content-center mb-5">
       <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Testimonial</span>
         <h2 class="mb-3">Happy Clients</h2>
       </div>
     </div>
     <div class="row ftco-animate">
       <div class="col-md-12">
         <div class="carousel-testimony owl-carousel ftco-owl">
           <div class="item">
             <div class="testimony-wrap rounded text-center py-4 pb-5">
               <div class="user-img mb-2" style="background-image: url(static/assets/images/person_1.jpg)">
               </div>
               <div class="text pt-4">
                 <p class="mb-4">Grand Drive Motors made my car-selling experience incredibly smooth. Their team provided expert guidance, and I got a great price for my vehicle without any hassle. I highly recommend them for anyone.</p>
                 <p class="name">John Reynolds</p>
                 <span class="position">Business Owner</span>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="testimony-wrap rounded text-center py-4 pb-5">
               <div class="user-img mb-2" style="background-image: url(static/assets/images/person_2.jpg)">
               </div>
               <div class="text pt-4">
                 <p class="mb-4">The variety of pre-owned cars at Grand Drive Motors is impressive, and the quality checks gave me complete peace of mind. The staff was knowledgeable and helped me find the perfect car within my budget.</p>
                 <p class="name">Ryan Scott</p>
                 <span class="position">IT Professional</span>
               </div>
             </div>
           </div>
           <div class="item">
            <div class="testimony-wrap rounded text-center py-4 pb-5">
              <div class="user-img mb-2" style="background-image: url(static/assets/images/person_3.jpg)">
              </div>
              <div class="text pt-4">
                <p class="mb-4">I recently traded in my old car for an upgrade, and the process was seamless. The valuation was fair, and the team handled everything efficiently. Excellent service and a trustworthy showroom!</p>
                <p class="name">David Carter</p>
                <span class="position">Sales Manager</span>
              </div>
            </div>
          </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


 <section class="ftco-counter ftco-section img bg-light" id="section-counter">
      <div class="overlay"></div>
    <div class="container">
       <div class="row">
       <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
         <div class="block-18">
           <div class="text text-border d-flex align-items-center">
             <strong class="number" data-number="18">0</strong>
             <span>Year <br>Experienced</span>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
         <div class="block-18">
           <div class="text text-border d-flex align-items-center">
             <strong class="number" data-number="1090">0</strong>
             <span>Total <br>Cars</span>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
         <div class="block-18">
           <div class="text text-border d-flex align-items-center">
             <strong class="number" data-number="2590">0</strong>
             <span>Happy <br>Customers</span>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
         <div class="block-18">
           <div class="text d-flex align-items-center">
             <strong class="number" data-number="8">0</strong>
             <span>Total <br>Branches</span>
           </div>
         </div>
       </div>
     </div>
    </div>
 </section>	

 <footer class="ftco-footer ftco-bg-dark ftco-section">
   <div class="container">
     <div class="row mb-5">
       <div class="col-md">
         <div class="ftco-footer-widget mb-4">
           <h2 class="ftco-heading-2"><a href="#" class="logo">GRAND <span>DRIVE MOTORS</span></a></h2>
           <p>Trusted destination for buying and selling high quality pre-owned vehicles</p>
           <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
             <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
             <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
             <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
           </ul>
         </div>
       </div>
       <div class="col-md">
         <div class="ftco-footer-widget mb-4 ml-md-5">
           <h2 class="ftco-heading-2">Information</h2>
           <ul class="list-unstyled">
             <li><a href="#" class="py-2 d-block">About</a></li>
             <li><a href="#" class="py-2 d-block">Services</a></li>
             <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
             <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
             <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
           </ul>
         </div>
       </div>
       <div class="col-md">
          <div class="ftco-footer-widget mb-4">
           <h2 class="ftco-heading-2">Customer Support</h2>
           <ul class="list-unstyled">
             <li><a href="#" class="py-2 d-block">FAQ</a></li>
             <li><a href="#" class="py-2 d-block">Payment Option</a></li>
             <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
             <li><a href="#" class="py-2 d-block">How it works</a></li>
             <li><a href="#" class="py-2 d-block">Contact Us</a></li>
           </ul>
         </div>
       </div>
       <div class="col-md">
         <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Grand Drive Motors
                  Cyber Tower, MG Road,
                  Ernakulam, Kerala – 682016,
                  India</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">contact@granddrivemotors.com</span></a></li>
              </ul>
            </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-12 text-center">

         <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
       </div>
     </div>
   </div>
 </footer>
 


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="static/assets/js/popper.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/jquery.easing.1.3.js"></script>
<script src="static/assets/js/jquery.waypoints.min.js"></script>
<script src="static/assets/js/jquery.stellar.min.js"></script>
<script src="static/assets/js/owl.carousel.min.js"></script>
<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="static/assets/js/aos.js"></script>
<script src="static/assets/js/jquery.animateNumber.min.js"></script>
<script src="static/assets/js/bootstrap-datepicker.js"></script>
<script src="static/assets/js/jquery.timepicker.min.js"></script>
<script src="static/assets/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="static/assets/js/google-map.js"></script>
<script src="static/assets/js/main.js"></script>
 
</body>
</html>